<!DOCTYPE html>
   <head>
      <title>Testpage</title>
   </head>

   <body>
      <h1><a href="http://192.168.1.101/">STEUERUNG</a></h1>
      <p>Lampe Yves: <a href="http://192.168.1.101/single/1/2/1">an</a> <a href="http://192.168.1.101/single/1/2/0">aus</a></p>
      <p>Lampe Caro: <a href="http://192.168.1.101/single/1/3/1">an</a> <a href="http://192.168.1.101/single/1/3/0">aus</a></p>
      <p>Lampe Whn1: <a href="http://192.168.1.101/single/2/2/1">an</a> <a href="http://192.168.1.101/single/2/2/0">aus</a></p>
      <p>Lampe Whn2: <a href="http://192.168.1.101/single/2/3/1">an</a> <a href="http://192.168.1.101/single/2/3/0">aus</a></p>
      <p>Kaffee: <a href="http://192.168.1.101/single/2/1/1">an</a> <a href="http://192.168.1.101/single/2/1/0">aus</a></p>      
      <p>Alle Lampen: <a href="http://192.168.1.101/function/1">an</a> <a href="http://192.168.1.101/function/2">aus</a></p>   
      <p>Alle Schlaf.: <a href="http://192.168.1.101/function/3">an</a> <a href="http://192.168.1.101/function/4">aus</a></p>
      <p>Alle Whnz.: <a href="http://192.168.1.101/function/5">an</a> <a href="http://192.168.1.101/function/6">aus</a></p>
      <p>Alles: <a href="http://192.168.1.101/function/7">aus</a></p>
      <p>{{ response }}</p>
   </body>
</html>
